.container{
    display: flex;
}
.container div{
    flex: 1 ;
}

 h1 {
     font-size: 100px;
     font-family: 'Oswald', sans-serif;
 }

 p {
     font-size: 30px;

 }

 #box1 {
    margin-block: 120px;
     border-left: 0px;
     border: solid black 7px;
     width: 500px;
     margin-left: -30px;
     padding-left: 40px;
 }
#pic1{
    margin-left: 80px;
    background-image: url(../img/homework1.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 110% ;
}