body{
    max-width: 400px;           
    margin: auto;
}

fieldset{
    background-color: #ddf4ee;
}

form{
    position: relative;
    color: green;
}

legend{
    font-size: 25px;
    color: #1d561b;
}

.hdtext>p{
    margin-top: 0%;
    margin-bottom: 0%;
}

.hdtextline2{
    display: flex;
    gap: 135px;
    
    color: rgba(96,148,122,255);
}

#country{
    max-width: 150px;
}

#btn{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 135px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 2vw;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}