body {
    margin: 0%;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: left;
    margin-left: 200px;
}

#logotext1 {
    margin-top: 25px;
    margin-left: 10px;
    font-size: 50px;
}

.navi {
    grid-area: navi;
    margin: auto;
    margin-top: 40px;
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 80px;
    margin-top: 250px;
}

.context1 {
    margin-top: 90px;
    padding-left: 100px;
    grid-area: context1;
    text-align: left;
    font-size: 30px;
}

#social {
    margin-bottom: 0%;
}

#business {
    margin-top: 0%;
    margin-bottom: 0%;
}

#perfomance {
    margin-top: 2%;
    font-size: 20px;
}

.btn1 {
    background-image: url(../img/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

#btn1text {
    margin: auto;
    margin-left: 6%;
    font-size: 16px;
    color: white;
}

.group1423 {
    grid-area: group1423;
}

#group1423png{
    width: 65%;
    height: auto;
}

.mouse {
    grid-area: mouse;
}

#btnmouse {
    border-radius: 48%;
    width: 40px;
    height: 45px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 8px 8px 20px gray;
}

.container1 {
    display: grid;
    grid-template-areas:
        'logo logo logo navi navi navi'
        'sidebar context1 context1 group1423 group1423 group1423'
        'mouse mouse mouse mouse mouse mouse'
    ;
    text-align: center;
    background-image: url(../img/Bg\ Shape@2x.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top right;
}

a {
    text-decoration: none;
    color: white;
}

/* Container2 */
.leftpic{
    grid-area: leftpic;
    margin-top: 80px;
}

.context2{
    grid-area: context2;
    text-align: left;
    margin: auto;
    margin-left: 0%;
    margin-top: 30%;
    padding-right: 100px;
}

#biolink{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

#whoweare{
    margin-top: 20px;
    font-size: 55px;
    margin-bottom: 0%;
}

#loremmedia{
    font-size: 20px;
}

.btn2 {
    margin: auto;
    background-image: url(../img/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    padding-bottom: 50px;
    padding-top: 11px;
}

#btn2text {
    margin: auto;
    margin-left: 65px;
    font-size: 20px;
    color: white;
}

.container2{
    margin-top: 10px;
    display: grid;
    grid-template-areas: 
    'leftpic context2'
    ;
    text-align: center;
    background-image: url(../img/who\ we\ are\ background@2x.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: 700px;
    background-position-y: 110px;
}