body {
    margin: 0;
}

/* .about{
    position: relative;
} */

.navbar {
    position: fixed;
    top: -1px;
    background-color: #8431CC;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: 5vw;
}

.logotext {
    margin: auto;
    min-width: fit-content;
}

.logotext>a {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}

.navtext {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    margin-right: 5vw;
    align-items: center;
}

.navtext>div>a {
    padding: 5px;
    background-color: white;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    box-shadow: gray 5px 5px 10px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdowncontent {
    display: none;
    position: absolute;
    top: 30px;
    min-width: fit-content;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdowncontent>a {
    font-size: 1vw;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown:hover>.dropdowncontent {
    display: block;
    border-radius: 10px;
}

.dropdowncontent>a:hover {
    color: white;
    background-color: #8431CC;
    border-radius: 10px;
}

.contactlink :hover {
    border-radius: 10px;
    background-color: lightgray;
}

.aboutmetext{
    font-size: 1vw;
    padding-top: 50px;
    text-align: center;
}

.abtcontainer{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content>img{
    width: 100%;
    height: auto;
}

.abtintro{
    padding: 0 10px 0 10px;
    max-width: 500px;
    text-align: center;
    font-size: 1.5vw;
}

.socialbar {
    margin: auto auto 6vw auto;
    box-shadow: grey 5px 5px 10px;
    display: flex;
    justify-content: space-around;
    gap: 3vw;
    align-items: center;
    max-width: fit-content;
    padding: 1vw 10vw 1vw 10vw;
    background-color: white;
}

.socialbar>div>a {
    text-decoration: none;
}

.twobutton{
    margin: 2vw 0 2vw 0;
    display: flex;
    justify-content: center;
    gap: 20vw; 
}

.abtbtn {
    max-width: fit-content;
    align-items: center;
}

.abtbtn>button {
    padding: 2vw 3vw 2vw 3vw;
    background-color: #8431CC;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
}

.abtbtn>button:hover{
    background-color: #9e78be;
    color: black;
    cursor: pointer;
}

#fragmentedu{
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 2vw;
}

.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border: black solid 2px;
}

.time>h1{
    font-size: 2vw;
    text-align: right;
}

.fragcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 30px;
    border: black solid 2px;
    width: fit-content;
    text-align: left;
}

.fragcontent>h1{
    font-size: 2vw;
}

.fragcontent>p{
    margin: 0;
    font-size: 1vw;
    border-bottom: black solid 2px;
}

#fragmentexpe{
    margin: 0 30px 0 30px;
    display: none;
    justify-content: center;
    gap: 30px;
    margin-bottom: 2vw;
}

.company{
    padding: 50px;
    background-color: whitesmoke;
}

.company>h1{
    text-align: center;
    font-size: 4vw;
}

.imgcompany{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.imgcompany>div>a>img{
    width: 80%;
    height: auto;
}

@media screen and (max-width:500px) {
    .logotext>a {
        font-size: 4vw;
    }

    .navtext>div>a {
        font-size: 4vw;
    }

    .dropdowncontent>a {
        font-size: 4vw;
    }

    .aboutmetext{
        font-size: 3vw;
    }

    .abtcontainer{
        flex-direction: column;
    }

    .abtintro{
        font-size: 4vw;
    }

    .content{
        text-align: center;
    }

    .content>img{
        width: 50%;
        height: auto;
    }

    .twobutton{
        gap: 5vw; 
    }

    .abtbtn>button {
        font-size: 3vw;
    }

    #fragmentedu{
        gap: 10px;
    }

    #fragmentexpe{
        gap: 10px;
    }

    .time{
        margin: auto 0 auto 0;
        padding: 40px 0 40px 0;
    }

    .time>h1{
        font-size: 3vw;
    }

    .fragcontent>h1{
        font-size: 3vw;
    }
    
    .fragcontent>p{
        font-size: 2vw;
    }

    .imgcompany{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .imgcompany>div>a>img{
        width: 50%;
        height: auto;
    }

}

.footer {
    background-color: white;
    padding: 7vw;
    background-image: url(../img/background.png);
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: contain;
}

.container4 {
    text-align: center;
    align-items: center;
    background-color: #F3EFFE;
}

.container4>div>h1 {
    font-size: 3vw;
    color: #8431CC;
}

.emailbox {
    display: inline;
    margin: auto;
}

.email {
    width: 30%;
    margin: 10px 0 10px 0;
    padding: 20px 10px;
    border-radius: 20px;
}

.submit {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #8431CC;
    font-weight: bolder;
    color: white;
    font-size: 1.5vw;
    border: none;
}

.footerlink>a {
    align-items: center;
    font-size: 1.5vw;
    text-decoration: none;
}

.socialbar2 {
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
}

.fbpng {
    border: #8431CC solid 2px;
    padding: 1vw 1.5vw;
    border-radius: 50px;
}

.igpng {
    border: #8431CC solid 2px;
    padding: 1vw 1.2vw;
    border-radius: 50px;
}

.githubpng {
    border: #8431CC solid 2px;
    padding: .5vw .7vw;
    border-radius: 50px;
}

.socialbar2>div>a>img {
    width: 100%;
}

.socialbar2 :hover {
    background-color: #EDD8FF;
    transition: 0.5s;
}

@media screen and (max-width:800px) {

    .container4>div>h3 {
        font-size: 2vw;
    }

    .submit {
        font-size: 2vw;
    }

    .email {
        padding: 20px;
    }

    .fbpng {
        border: none;

    }

    .igpng {
        border: none;

    }

    .githubpng {
        border: none;
    }
}