body {
    margin: 0;
}

.aboutmetext{
    font-size: 2.5vw;
    padding-top: 50px;
    text-align: center;
}

.abtcontainer{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}

.content>img{
    width: 100%;
    height: auto;
}

.abtintro{
    padding: 0 10px 0 10px;
    max-width: 500px;
    text-align: center;
    font-size: 1vw;
}

.socialbar {
    margin: auto auto 6vw auto;
    box-shadow: grey 5px 5px 10px;
    display: flex;
    justify-content: space-around;
    gap: 3vw;
    align-items: center;
    max-width: fit-content;
    padding: 1vw 10vw 1vw 10vw;
    background-color: white;
}

.socialbar>div>a {
    text-decoration: none;
}

.twobutton{
    margin: 2vw 0 2vw 0;
    display: flex;
    justify-content: center;
    gap: 20vw; 
}

.abtbtn {
    max-width: fit-content;
    align-items: center;
}

.abtbtn>button {
    padding: 2vw 3vw 2vw 3vw;
    background-color: #8431CC;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
}

.abtbtn>button:hover{
    background-color: #9e78be;
    color: black;
    cursor: pointer;
}

#fragmentedu{
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 2vw;
}

.time{
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border: black solid 2px;
    background-color: #8431CC;
}

.time>h1{
    font-size: 2vw;
    text-align: right;
    color: white;
}

.fragcontent{
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 30px;
    border: black solid 2px;
    width: fit-content;
    text-align: left;
    background-color: #8431CC;
}

.fragcontent>h1{
    font-size: 2vw;
    color: white;
}

.fragcontent>p{
    margin: 0;
    font-size: 1vw;
    border-bottom: black solid 2px;
    color: white;
}

#fragmentexpe{
    margin: 0 30px 0 30px;
    display: none;
    justify-content: center;
    gap: 30px;
    margin-bottom: 2vw;
}

.company{
    padding: 50px;
    background-color: whitesmoke;
}

.company>h1{
    text-align: center;
    font-size: 4vw;
}

.imgcompany{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.imgcompany>div>a>img{
    width: 80%;
    height: auto;
}

@media screen and (max-width:500px),(max-width:800px) {
    .aboutmetext{
        font-size: 3vw;
    }

    .abtcontainer{
        flex-direction: column;
    }

    .abtintro{
        font-size: 3vw;
    }

    .content{
        text-align: center;
    }

    .content>img{
        width: 50%;
        height: auto;
    }

    .twobutton{
        gap: 5vw; 
    }

    .abtbtn>button {
        font-size: 3vw;
    }

    #fragmentedu{
        gap: 10px;
    }

    #fragmentexpe{
        gap: 10px;
    }

    .time{
        margin: auto 0 auto 0;
        padding: 40px 0 40px 0;
    }

    .time>h1{
        font-size: 3vw;
    }

    .fragcontent>h1{
        font-size: 3vw;
    }
    
    .fragcontent>p{
        font-size: 2vw;
    }

    .imgcompany{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .imgcompany>div>a>img{
        width: 50%;
        height: auto;
    }

}