body {
    margin: 0%;
}

.hdcontent>.content {
    text-align: center;
    margin-top: 8vw;
    align-items: center;
}

.content>img {
    width: 70%;
}

.hdcontent {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px 0 10px;
}

.content>h1 {
    font-size: 2vw;
}

.hdcontent>.content>p {
    font-size: 1.5vw;
}

.hdabt {
    margin: 4vw auto 4vw auto;
    background-color: #A53DFF;
    max-width: fit-content;
    padding: 1vw 4vw 1vw 4vw;
    border-radius: 30px;
    align-items: center;
}

.hdabt>a {
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
}

.hdbar {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    margin-bottom: 4vw;
}

.hdbar>div {
    padding: 0 4vw 0 4vw;
    background-color: #EDD8FF;
    text-align: center;
}

.hdbar>div>h3 {
    font-size: 2vw;
}

.hdbar>div>p {
    font-size: 1vw;
    color: gray;
}

.socialbar {
    margin: auto auto 6vw auto;
    box-shadow: grey 5px 5px 10px;
    display: flex;
    justify-content: space-around;
    gap: 3vw;
    align-items: center;
    max-width: fit-content;
    padding: 1vw 10vw 1vw 10vw;
    background-color: white;
}

.socialbar>div>a {
    text-decoration: none;
    font-size: 1.5vw;
}

@media screen and (max-width:500px) {
    .hdcontent {
        padding-top: 30px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .content>img {
        width: 50%;
    }

    .hdcontent>.content>p {
        font-size: 2vw;
    }

    .hdabt>a {
        font-size: 2vw;
    }

    .hdbar>div>p {
        font-size: 1vw;
    }

    .socialbar>div>a>img {
        width: 50%;
    }
}

/* service------------------------------------------------*/
.service {
    background-color: #8431CC;
    padding: 0 2vw 0 2vw;
}

.container1 {
    background-color: white;
    padding: 1vw 0 10vw 0;
}

.flexcontent {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.checkbtn {
    border: black solid 2px;
    width: fit-content;
    padding: 2vw 3vw 2vw 3vw;
    margin-left: 7.5vw;
    border-radius: 10px;
}

.flextable {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.myprocess {
    text-align: center;
    width: fit-content;
    margin: 2vw auto auto auto;
}

.myprocess>h1 {
    font-size: 3vw;
    border-radius: 10px;
}

.hdtable {
    border: black solid 2px;
    background-color: white;
    padding: 4vw;
    border-radius: 10px;
}

.flextable :hover {
    transition: transform .2s;
    transform: scale(1.1);
}

.hdtable>div>img {
    width: 1.5vw;
    height: 1.5vw;
    padding: 1vw;
    background-color: #8431CC;
    border-radius: 10px;
}

.hdtable>h4 {
    font-size: 2vw;
}

.table {
    margin-top: 50px;
}

.table>a {
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}

.container1seemore {
    text-align: center;
    margin: 3vw auto auto auto;
}

.container1seemore>a {
    text-decoration: none;
    border-radius: 50px;
    color: white;
    background-color: #A53DFF;
    padding: 1vw 2vw 1vw 2vw;
    font-size: 1.5vw;
}

@media screen and (max-width:500px) {
    .flextable {
        flex-direction: column;
    }

    .myprocess>h1 {
        font-size: 4vw;
        border-radius: 10px;
    }

    .hdtable>div>img {
        width: 30%;
        height: auto;
    }

    .hdtable>h4 {
        font-size: 5vw;
    }

    .table {
        margin-top: 20px;
    }

    .table>a {
        font-size: 3vw;
        text-decoration: none;
        color: black;
    }

    .container1seemore>a {
        font-size: 3vw;
    }

}

/* tool------------------------------------------------*/
.tool {
    background-color: #8431CC;
    padding-left: 2vw;
    padding-right: 2vw;
}

.container3 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-top: 1vw;
    padding-bottom: 20px;
    align-items: center;
}

.container3text {
    margin-top: 9vw auto auto 2vw;
}

.container3text>h3 {
    text-align: center;
    font-size: 2.5vw;
}

.container3seemore {
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 6vw;
    min-width: fit-content;
}

.container3seemore>a {
    text-decoration: none;
    border-radius: 50px;
    color: white;
    background-color: #A53DFF;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    font-weight: bolder;
}

.card1 {
    border-left: #A53DFF solid 10px;
    border-radius: 10px;
    padding: 2vw;
    box-shadow: grey 5px 5px 10px;
}

.card1>h3 {
    font-size: 2vw;
}

.card1>p {
    font-size: 1.5vw;
}

.card2 {
    margin-top: 2vw;
    padding: 2vw;
    box-shadow: grey 5px 5px 10px;
    border-radius: 10px;
}

.card2>h3 {
    font-size: 2vw;
}

.card2>p {
    font-size: 1.5vw;
}

@media screen and (max-width:500px) {
    .container3 {
        display: flex;
        flex-direction: column;
    }

    .container3text {
        text-align: center;
    }

    .container3text>h3 {
        font-size: 4vw;
    }

    .container3text>p {
        font-size: 3vw;
    }

    .container3seemore>a {
        font-size: 3vw;
    }

    .container3vscode>a {
        font-size: 3vw;
    }

    .card1 {
        border-left: #A53DFF solid 10px;
        border-radius: 10px;
        padding: 2vw;
        box-shadow: grey 5px 5px 10px;
        width: fit-content;
        margin: auto;
    }

    .card2 {
        margin: auto;
        margin-top: 9vw;
        padding: 2vw;
        box-shadow: grey 5px 5px 10px;
        border-radius: 10px;
        width: fit-content;
    }

    .card1>h3 {
        font-size: 4vw;
    }

    .card1>p {
        font-size: 3vw;
    }

    .card2>h3 {
        font-size: 4vw;
    }

    .card2>p {
        font-size: 3vw;
    }
}