body {
    margin: 0%;
}

.header {
    padding-top: 50px;
}

.navbar {
    position: fixed;
    top: -1px;
    background-color: #8431CC;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: 5vw;
}

.logotext {
    margin: auto;
    min-width: fit-content;
}

.logotext>a {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}

.navtext {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    margin-right: 5vw;
    align-items: center;
}

.navtext>div>a {
    padding: 5px;
    background-color: white;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    box-shadow: gray 5px 5px 10px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdowncontent {
    display: none;
    position: absolute;
    top: 30px;
    min-width: fit-content;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdowncontent>a {
    font-size: 1vw;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown:hover>.dropdowncontent {
    display: block;
    border-radius: 10px;
}

.dropdowncontent>a:hover {
    color: white;
    background-color: #8431CC;
    border-radius: 10px;
}

.contactlink :hover {
    border-radius: 10px;
    background-color: lightgray;
}

.hdcontent>.content {
    margin-top: 8vw;
    align-items: center;
}

.content>img {
    width: 100%;
}

.hdcontent {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px 0 10px;
}

.hdcontent>.content>h1 {
    font-size: 4vw;
}

.hdcontent>.content>p {
    font-size: 1.5vw;
}

.hdabt {
    margin: 4vw auto 4vw auto;
    background-color: #A53DFF;
    max-width: fit-content;
    padding: 1vw 4vw 1vw 4vw;
    border-radius: 30px;
    align-items: center;
}

.hdabt>a {
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
}

.hdbar {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    margin-bottom: 4vw;
}

.hdbar>div {
    padding: 0 4vw 0 4vw;
    background-color: #EDD8FF;
    text-align: center;
}

.hdbar>div>h3 {
    font-size: 3vw;
}

.hdbar>div>p {
    font-size: 1vw;
    color: gray;
}

.socialbar {
    margin: auto auto 6vw auto;
    box-shadow: grey 5px 5px 10px;
    display: flex;
    justify-content: space-around;
    gap: 3vw;
    align-items: center;
    max-width: fit-content;
    padding: 1vw 10vw 1vw 10vw;
    background-color: white;
}

.socialbar>div>a {
    text-decoration: none;
    font-size: 1.5vw;
}

@media screen and (max-width:500px) {
    .hdcontent {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .content>img {
        width: 50%;
    }

    .logotext>a {
        font-size: 4vw;
    }

    .navtext>div>a {
        font-size: 4vw;
    }

    .dropdowncontent>a {
        font-size: 4vw;
    }

    .hdcontent>.content>p {
        font-size: 3vw;
    }

    .hdabt>a {
        font-size: 3vw;
    }

    .hdbar>div>p {
        font-size: 2vw;
    }

    .socialbar>div>a>img {
        width: 50%;
    }
}

/* service------------------------------------------------*/
.service {
    background-color: #8431CC;
    padding: 0 2vw 0 2vw;
}

.container1 {
    background-color: #F0F1F3;
    padding: 1vw 0 10vw 0;
}

.flexcontent {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.intro>h1 {
    margin-top: 16vw;
    text-align: left;
    font-size: 4vw;
}

.checkbtn {
    border: black solid 2px;
    width: fit-content;
    padding: 2vw 3vw 2vw 3vw;
    margin-left: 7.5vw;
    border-radius: 10px;
}

.checkbtn>a {
    text-decoration: none;
    color: black;
    font-size: 3vw;
}

.flextable {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.myprocess {
    text-align: center;
    width: fit-content;
    margin: 2vw auto auto auto;
}

.myprocess>h1 {
    font-size: 5vw;
    border-radius: 10px;
}

.hdtable {
    border: black solid 2px;
    background-color: white;
    padding: 4vw;
    border-radius: 10px;
}

.flextable :hover {
    transition: transform .2s;
    transform: scale(1.2);
}

.hdtable>div>img {
    width: 1.5vw;
    height: 1.5vw;
    padding: 1vw;
    background-color: #8431CC;
    border-radius: 10px;
}

.hdtable>h4 {
    font-size: 3vw;
}

.table {
    margin-top: 50px;
}

.table>a {
    font-size: 2vw;
    text-decoration: none;
    color: black;
}

.container1seemore {
    text-align: center;
    margin: 3vw auto 3vw auto;
}

.container1seemore>a {
    text-decoration: none;
    border-radius: 50px;
    color: white;
    background-color: #A53DFF;
    padding: 1vw 2vw 1vw 2vw;
    font-size: 1.5vw;
}

@media screen and (max-width:500px) {
    .flextable {
        flex-direction: column;
    }

    .myprocess>h1 {
        font-size: 7vw;
        border-radius: 10px;
    }

    .hdtable>div>img {
        width: 30%;
        height: auto;
    }

    .hdtable>h4 {
        font-size: 5vw;
    }

    .table {
        margin-top: 20px;
    }

    .table>a {
        font-size: 4vw;
        text-decoration: none;
        color: black;
    }

    .container1seemore>a {
        font-size: 3vw;
    }

}

/* work------------------------------------------------*/
.hdcontainer2 {
    text-align: center;
    margin: auto;
}

.hdcontainer2>h3 {
    font-size: 4vw;
    margin-bottom: 5%;
}

.slideshow {
    position: relative;
    text-align: center;
    padding: 20px;
    z-index: 1;
}

.mySlides>img {
    max-width: 500px;
    width: 100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    cursor: pointer;
    padding: 1vw;
    color: #8431CC;
    font-weight: bold;
    font-size: 3vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    top: 40%;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 1.5vw;
    width: 1.5vw;
    margin: 5px 2px 30px 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width:500px) {
    .hdcontainer2>h3 {
        font-size: 4vw;
        margin-bottom: 0%;
    }

    .hdcontainer2>p {
        font-size: 3vw;
    }

    .dot {
        width: 2vw;
        height: 2vw;
    }
}

/* tool------------------------------------------------*/
.tool {
    background-color: #8431CC;
    padding-left: 2vw;
    padding-right: 2vw;
}

.container3 {
    display: flex;
    justify-content: space-around;
    background-color: #F0F1F3;
    padding-top: 1vw;
    padding-bottom: 20px;
    align-items: center;
}

.container3text {
    margin-top: 9vw auto auto 2vw;
}

.container3text>h3 {
    text-align: center;
    font-size: 2.5vw;
}

.container3seemore {
    text-align: center;
    margin-top: 3vw;
    min-width: fit-content;
}

.container3seemore>a {
    text-decoration: none;
    border-radius: 50px;
    color: white;
    background-color: #A53DFF;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    font-weight: bolder;
}

.container3right {
    margin-top: 7vw;
}

.card1 {
    border-left: #A53DFF solid 10px;
    border-radius: 10px;
    padding: 2vw;
    box-shadow: grey 5px 5px 10px;
}

.card1>h3 {
    font-size: 2vw;
}

.card1>p {
    font-size: 1.5vw;
}

.card2 {
    margin-top: 2vw;
    padding: 2vw;
    box-shadow: grey 5px 5px 10px;
    border-radius: 10px;
}

.card2>h3 {
    font-size: 2vw;
}

.card2>p {
    font-size: 1.5vw;
}

@media screen and (max-width:500px) {
    .container3 {
        display: flex;
        flex-direction: column;
    }

    .container3text {
        text-align: center;
    }

    .container3text>h3 {
        font-size: 4vw;
    }

    .container3text>p {
        font-size: 3vw;
    }

    .container3seemore>a {
        font-size: 3vw;
    }

    .container3vscode>a {
        font-size: 3vw;
    }

    .card1 {
        border-left: #A53DFF solid 10px;
        border-radius: 10px;
        padding: 2vw;
        box-shadow: grey 5px 5px 10px;
        width: fit-content;
        margin: auto;
    }

    .card2 {
        margin: auto;
        margin-top: 9vw;
        padding: 2vw;
        box-shadow: grey 5px 5px 10px;
        border-radius: 10px;
        width: fit-content;
    }

    .card1>h3 {
        font-size: 4vw;
    }

    .card1>p {
        font-size: 3vw;
    }

    .card2>h3 {
        font-size: 4vw;
    }

    .card2>p {
        font-size: 3vw;
    }
}

/* Footer------------------------------------------------*/
.footer {
    padding: 7vw;
}

.container4 {
    text-align: center;
    align-items: center;
    background-color: #F3EFFE;
}

.container4>div>h1 {
    font-size: 5vw;
    color: #8431CC;
}

.emailbox {
    display: inline;
    margin: auto;
}

.email {
    width: 30%;
    margin: 10px 0 10px 0;
    padding: 20px 10px;
    border-radius: 20px;
}

.submit {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #8431CC;
    font-weight: bolder;
    color: white;
    font-size: 1.5vw;
    border: none;
}

.footerlink>a {
    align-items: center;
    font-size: 1.5vw;
    text-decoration: none;
}

.socialbar2 {
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
}

.fbpng {
    border: #8431CC solid 2px;
    padding: 1vw 1.5vw;
    border-radius: 50px;
}

.igpng {
    border: #8431CC solid 2px;
    padding: 1vw 1.2vw;
    border-radius: 50px;
}

.githubpng {
    border: #8431CC solid 2px;
    padding: .5vw .7vw;
    border-radius: 50px;
}

.socialbar2>div>a>img {
    width: 100%;
}

.socialbar2 :hover {
    background-color: #EDD8FF;
    transition: 0.5s;
}

@media screen and (max-width:800px) {

    .container4>div>h3 {
        font-size: 3vw;
    }

    .submit {
        font-size: 3vw;
    }

    .email {
        padding: 20px;
    }

    .fbpng {
        border: none;

    }

    .igpng {
        border: none;

    }

    .githubpng {
        border: none;
    }
}