body {
    margin: 0;
}

.contactme {
    text-align: center;
    padding: 50px 30px 10px 30px;
    background-color: #EDD8FF;
    margin-bottom: 30px;
}

.contactme>h1 {
    font-size: 2vw;
}

fieldset {
    width: 40%;
    margin: auto;
    background-color: #F3EFFE;
    border: #8431CC solid 5px;
}

legend {
    font-size: 2vw;
}

input[type=text],input[type=email1],
textarea {
    width: 98%;
}

.hdtext>p {
    margin-top: 0%;
    margin-bottom: 0%;
}

.hdtextline2 {
    display: flex;
    gap: 30px;
}

#country {
    max-width: 170px;
}

.btn {
    text-align: center;
}

.btn>input {
    margin: 5px 5px;
    background-color: #8431CC;
    color: white;
    border: 1px solid #8431CC;
    border-radius: 2vw;
    padding: 5px 8px;
}

.map {
    margin: 50px;
    text-align: center;
    border: #8431CC solid 5px;
    background-color: #F3EFFE;
}

.map>h1 {
    width: fit-content;
    margin: auto;
    padding: 30px;
    font-size: 2vw;
}

iframe {
    width: 100%;
    border: none;
}

@media screen and (max-width:500px),(max-width:800px) {
    .contactme>h1 {
        font-size: 4vw;
    }

    legend {
        font-size: 4vw;
    }

    .hdtextline2 {
        display: block;
    }

    .map>h1 {
        font-size: 4vw;
    }

    iframe {
        height: 500px;
    }
}