body {
    margin: 0;
}

.container3 {
    justify-content: space-around;
    background-color: #F0F1F3;
    padding-top: 1vw;
    padding-bottom: 20px;
    align-items: center;
}

.container3text {
    margin-top: 9vw auto auto 2vw;
}

.container3text>h3 {
    padding-top: 50px;
    text-align: center;
    font-size: 2.5vw;
}

.container3right {
    padding: 5vw;
}

.card1 {
    margin-top: 2vw;
    text-align: center;
    border-left: #A53DFF solid 10px;
    border-radius: 10px;
    padding: 2vw;
    box-shadow: grey 5px 5px 10px;
}

.card1>h3 {
    font-size: 2vw;
}

.card1>p {
    font-size: 1.5vw;
}

.card1>a{
    font-size: 1.5vw;
}

.card2 {
    text-align: center;
    margin-top: 2vw;
    padding: 2vw;
    box-shadow: grey 5px 5px 10px;
    border-radius: 10px;
}

.card2>h3 {
    font-size: 2vw;
}

.card2>p {
    font-size: 1.5vw;
}

.card2>a{
    font-size: 1.5vw;
}

.company{
    margin-top: 7vw;
    padding: 50px;
    background-color: whitesmoke;
}

.company>h1{
    text-align: center;
    font-size: 4vw;
}

.imgcompany{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.imgcompany>div>a>img{
    width: 80%;
    height: auto;
}

@media screen and (max-width:500px),(max-width:800px) {
    .container3 {
        display: flex;
        flex-direction: column;
    }

    .container3text {
        text-align: center;
    }

    .container3text>h3 {
        font-size: 4vw;
    }

    .container3vscode>a {
        font-size: 3vw;
    }

    .card1 {
        border-left: #A53DFF solid 10px;
        border-radius: 10px;
        padding: 2vw;
        box-shadow: grey 5px 5px 10px;
        width: fit-content;
        margin: auto;
        margin-top: 9vw;
    }

    .card2 {
        margin: auto;
        margin-top: 9vw;
        padding: 2vw;
        box-shadow: grey 5px 5px 10px;
        border-radius: 10px;
        width: fit-content;
    }

    .card1>h3 {
        font-size: 4vw;
    }

    .card1>p {
        font-size: 3vw;
    }

    .card1>a{
        font-size: 3vw;
    }

    .card2>h3 {
        font-size: 4vw;
    }

    .card2>p {
        font-size: 3vw;
    }

    .card2>a{
        font-size: 3vw;
    }

    .imgcompany{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .imgcompany>div>a>img{
        width: 50%;
        height: auto;
    }
}