body {
    margin: 0;
}

.flexcontent {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.flextable {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    margin: 30px 50px auto 50px;
}

.myprocess {
    padding-top: 50px;
    text-align: center;
    width: fit-content;
    margin: 2vw auto auto auto;
}

.myprocess>h1 {
    font-size: 3vw;
    border-radius: 10px;
}

.hdtable {
    border: black solid 2px;
    background-color: white;
    padding: 4vw;
    border-radius: 10px;
}

.flextable :hover {
    transition: transform .2s;
    transform: scale(1.1);
}

.hdtable>div>img {
    width: 1.5vw;
    height: 1.5vw;
    padding: 1vw;
    background-color: #8431CC;
    border-radius: 10px;
}

.hdtable>h4 {
    font-size: 2vw;
}

.table {
    margin-top: 50px;
}

.table>a {
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}

.company{
    margin-top: 7vw;
    padding: 50px;
    background-color: whitesmoke;
}

.company>h1{
    text-align: center;
    font-size: 3vw;
}

.imgcompany{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.imgcompany>div>a>img{
    width: 80%;
    height: auto;
}

.footer {
    padding: 7vw;
}

.container4 {
    text-align: center;
    align-items: center;
    background-color: #F3EFFE;
}

.container4>div>h1 {
    font-size: 3vw;
    color: #8431CC;
}

.emailbox {
    display: inline;
    margin: auto;
}

.email {
    width: 30%;
    margin: 10px 0 10px 0;
    padding: 20px 10px;
    border-radius: 20px;
}

.submit {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #8431CC;
    font-weight: bolder;
    color: white;
    font-size: 1.5vw;
    border: none;
}

.footerlink>a {
    align-items: center;
    font-size: 1.5vw;
    text-decoration: none;
}

.socialbar2 {
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
}

.fbpng {
    border: #8431CC solid 2px;
    padding: 1vw 1.5vw;
    border-radius: 50px;
}

.igpng {
    border: #8431CC solid 2px;
    padding: 1vw 1.2vw;
    border-radius: 50px;
}

.githubpng {
    border: #8431CC solid 2px;
    padding: .5vw .7vw;
    border-radius: 50px;
}

.socialbar2>div>a>img {
    width: 100%;
}

.socialbar2 :hover {
    background-color: #EDD8FF;
    transition: 0.5s;
}

@media screen and (max-width:500px) {
    .flextable {
        flex-direction: column;
    }

    .myprocess>h1 {
        font-size: 7vw;
        border-radius: 10px;
    }

    .hdtable>div>img {
        width: 20%;
        height: auto;
    }

    .hdtable>h4 {
        font-size: 5vw;
    }

    .table {
        margin-top: 20px;
    }

    .table>a {
        font-size: 4vw;
        text-decoration: none;
        color: black;
    }

    .imgcompany{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .imgcompany>div>a>img{
        width: 50%;
        height: auto;
    }
}