body {
    background-color: black;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
}

.flex {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#box2 {
    padding-top: 2%;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}

h2 {
    color: white;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
}

p {
    color: white;
    font-size: 20px;
    border-bottom: 3px solid white;
    padding-bottom: 10%;
    font-family: 'Raleway', sans-serif;
}